<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Majic Match</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Slackey&family=Roboto:wght@100;300;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="quotestyle.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script type="text/javascript" src="quote.js"></script>
	
    <div class="topnav">
        <a class="active" href="#home"></a>
        <a class="nav-link" href="{{ url_for('search_post')}}">Search</a>
        <a class="nav-link" href="{{ url_for('quote_post')}}">Quote Look Up</a>
        <a class="nav-link" href="{{ url_for('inv_post')}}" >Book Inventory</a>
        <a class="nav-link" href="{{ url_for('info_post')}}">Account Info</a>
        <a class="nav-link" href="{{ url_for('signin_post')}}">Sign Out</a>
      </div>

    </head>
    <body>


	<center><div class="home-spacer">
	<div class="hero">
	  <span class="page-title">Can't Remember A Book?</span>
	  <br> <br> <span class="page-title">Try Searching for a Quote </span>
    <form id="booksearch" class="booksch">
	    <input name="query" type="text" placeholder="Search for a quote, text, or keywords">
	  </form>
	</div>


	</div>

	<div class="bookmatch">
	</div>
	
    </body>
</html>